# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build outputs
dist/
dist-ssr/
build/
**/build/
*.local

# Flutter / Dart
**/.dart_tool/
**/.packages
**/.pub/
**/.pub-cache/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/app/build/
**/android/key.jks
**/android/key.p12
**/android/app/*.jks
**/android/app/*.p12

# Large build binaries
build_apks/
*.apk
*.aab

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
